.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(163, 77, 0); 
}

.reset-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 600px; 
    text-align: center;
}

.reset-logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -10px;
}

.reset-title {
    font-size: 24px;
    margin-bottom: -10px; 
    color: #333;
}

.reset-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: -30px; 
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.reset-button {
    background-color: #ff6d00;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #e65100;
}

.reset-message {
    margin-top: 8px; 
    color: #e74c3c;
}

.back-login {
    margin-top: 10px;
}

.back-login a {
    color: #df551a;
    text-decoration: none;
    font-weight: bold;
}

.back-login a:hover {
    text-decoration: underline;
}
