/* Estilos comuns para redefinição de senha */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(163, 77, 0); /* Cor de fundo */
}

/* Caixa de redefinição de senha */
.reset-password-box {
    background-color: white;
    padding: 30px; /* Diminua o padding aqui para reduzir o espaço interno */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 580px; /* Ajustei o tamanho */
    text-align: center;
}

/* Logo */
.reset-password-logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -10px;
}

/* Título da redefinição de senha */
.reset-password-title {
    font-size: 24px;
    margin-bottom: -10px; /* Diminui o espaçamento abaixo do título */
    color: #333;
}

/* Formulário de redefinição de senha */
.reset-password-form {
    display: flex;
    flex-direction: column;
}

/* Grupo de campos de formulário */
.form-group {
    margin-bottom: -30px; /* Reduzi o espaçamento entre os campos */
    text-align: left;
}

/* Labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Campos de entrada */
.input-field {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Botão de redefinição de senha */
.reset-password-button {
    background-color: #ff6d00;
    color: white;
    padding: 8px; /* Ajustei o padding para ficar menor */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-password-button:hover {
    background-color: #e65100;
}

/* Mensagem de redefinição de senha */
.reset-password-message {
    margin-top: 8px; /* Diminui o espaço para a mensagem */
    color: #e74c3c;
}

/* Link para voltar ao login */
.back-to-login {
    margin-top: 10px; /* Reduzi o espaço antes do link */
}

.back-to-login a {
    color: #df551a;
    text-decoration: none;
    font-weight: bold;
}

.back-to-login a:hover {
    text-decoration: underline;
}
